.home-container {
  padding: 17px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.start-button {
  color: #fff;
}

.home-banner {
  display: none;
  width: 100%;
  height: 100%;
}

.home-banner h1 {
  font-size: 48px;
  color: #fff;
}

.home-banner p {
  font-size: 22px;
  font-weight: 400;
  color: #f2f2f2;
}

@media (min-width: 1200px) {
  .home-container {
    justify-content: space-around;
    padding-left: 105px;
    padding-right: 105px;
  }

  .home-banner {
    display: block;
    color: #fff;
  }

  .home-banner svg {
    margin-top: 50px;
  }
}
