.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 10px 10px 17px;
  background-color: #6c6c6c;
  border-radius: 4px;
  width: 300px;
  height: 464px;
}

.login-card h1 {
  padding-top: 60px;
  padding-bottom: 20px;
  color: #ffffff;
  size: 36px;
  font-weight: 400;
}

.login-card input {
  padding-left: 14px;
  border: 1px solid #fefefe;
  margin-bottom: 20px;
  width: 264px;
  height: 50px;
  border-radius: 4px;
}

.login-card button {
  margin-top: 55px;
  width: 264px;
  height: 50px;
  font-size: 20px;
}

@media (min-width: 576px) {
  .login-card {
    width: 479px;
    height: 573px;
  }

  .login-card h1 {
    font-size: 48px;
  }

  .login-card input {
    margin-left: 31px;
    width: 384px;
  }

  .login-card button {
    width: 384px;
    height: 50px;
    margin-left: 31px;
  }
}

@media (min-width: 1200px) {
  .login-card {
    width: 800px;
    height: 573px;
    padding-right: 40px;
  }

  .login-card h1 {
    font-size: 48px;
  }

  .login-card input {
    margin-left: 31px;
    width: 384px;
  }

  .login-card button {
    width: 384px;
    height: 50px;
    margin-left: 31px;
  }
}
